.passengers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

.passengers input {
    font-size: 1rem;
    margin: 16px 0;
    border-radius: 8px;
    padding: 8px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.passengers-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
    margin-top: 8px;
}

.passengers-title {
    margin-bottom: 16px;
}